# Heroku root path (Monorepo Buildpack)
# In case you're going for a monorepo with client and server separated in two folders and want to deploy
# your application in Heroku, you gonna have to set a buildpack.
# I'm using this one: https://github.com/lstoll/heroku-buildpack-monorepo

# Express Server Details

PORT=

# Prisma Database Connection

DATABASE_URL=

# MongoStore Connection Details

MONGO_URL=
MONGO_DB_NAME=

# Discord OAuth2 Client Details

DISCORD_LOGIN_LINK=
DISCORD_CLIENT_ID=
DISCORD_SECRET=
DISCORD_REDIRECT_URL=

DISCORD_OAUTH2_USER=

# Express Session Details

SESSION_SECRET=
SESSION_COOKIE_NAME=

# CryptoJS Details

CRYPTOJS_SECRET=
